<div class="container">
  <div class="row">
    <div class="col-9 px-0 mt-3">
      <h2>特徴追加</h2>
      <%= form_with model: @feature, url: admin_features_path, method: :post do |f| %>
        <table>
          <tr>
            <th>カテゴリ</th>
            <td>
              <%= f.select :category, Feature.categories.keys.map {|k| [I18n.t("enums.feature.category.#{k}"), k]} %>
            </td>
          </tr>
          <tr>
            <th>特徴名</th>
            <td>
              <%= f.text_field :name %>
            </td>
          </tr>
        </table>
        <%= f.submit '追加' %>
      <% end %>
    </div>
  </div>
</div>