<p id="notice"></p>
<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <h1>施設を探す</h1>
      <%= search_form_for @q, url: search_bathhouses_path do |f| %>
        <div class="input-group">
          <%= f.search_field :name_cont, class: "form-control", placeholder: "施設名・キーワードから探す" %>
          <%= f.submit '検索', class: "btn btn-outline-success", id: "button-addon2" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-4">
    </div>
    <div class="col-8">
      <div>
        <%= @bathhouses_all.count %>件中
      </div>
    </div>
  </div>
</div>